@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*,
 ::after,
 ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.underline {
    width: 6rem;
    height: 0.25rem;
    margin-bottom: 1.25rem;
    background: rgb(9, 133, 155);
    margin-left: auto;
    margin-right: auto;
}